* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.font_dm {
    font-family: "DM Sans", sans-serif;
}

.font_14 {
    font-size: 14px;
}

.font_16 {
    font-size: 16px;
}

.font_20 {
    font-size: 20px;
}

.font_39 {
    font-size: 39px;
}

.font_40 {
    font-size: 40px;
}

.font_49 {
    font-size: 49px;
}

.font_400 {
    font-weight: 400;
}

.font_700 {
    font-weight: 700;
}

.font_dark {
    color: #262626;
}

.dark_btn {
    padding: 16px 58px;
    background-color: #262626;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.new_btn {
    padding: 8px 31px;
    background-color: #262626;
    font-family: "DM Sans", sans-serif;
    color: #fff !important;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

/* ---------------------- Nav Start ---------------------- */
nav {
    padding: 31px 0;
    background-color: #fff;
}

nav .nav_wrapper {
    position: relative;
}

nav .nav_logo {
    position: absolute;
    top: 0;
    left: 0;
}

nav .nav_logo {
    width: 65px;
}

nav .nav_logo img {
    width: 100%;
    display: block;
}

nav .nav_item ul {
    display: flex;
    gap: 40px;
    justify-content: center;
}

nav .nav_item ul li a {
    color: #767676;
    font-weight: 400;
    transition: all linear 0.2s;
}

nav .nav_item ul li a:hover {
    color: #262626;
    font-weight: 700;
}
/* ---------------------- Nav End ---------------------- */

/* ---------------------- Filter Start ---------------------- */
#filter {
    background-color: #f5f5f3;
    padding: 25px 0;
}

#filter .filter_wrapper {
    display: flex;
}

#filter .filter_sort {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 11px;
}

#filter .filter_sort a,
#filter .filter_sort i {
    color: #262626;
}

#filter .filter_search {
    width: 60%;
    display: flex;
    justify-content: center;
}

#filter .filter_search .filter_box {
    width: 601px;
    position: relative;
}

#filter .filter_search .filter_box input {
    width: 100%;
    background-color: #fff;
    height: 50px;
    padding: 0 40px 0 21px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

#filter .filter_search .filter_box input::placeholder {
    font-family: "DM Sans", sans-serif;
    color: #c4c4c4;
    font-size: 14px;
    font-weight: 400;
}

#filter .filter_search .filter_box a {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
}

#filter .filter_search .filter_box a i {
    color: #262626;
    font-size: 16px;
}

#filter .filter_cart {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 41px;
    justify-content: end;
}

#filter .filter_cart .cart_box {
    display: flex;
    align-items: center;
    gap: 11px;
}

#filter .filter_cart i {
    color: #262626;
    font-size: 16px;
}

#filter .filter_cart .user_box {
    position: relative;
    cursor: pointer;
}

#filter .filter_cart .user_box i {
    margin-right: 8px;
}

#filter .filter_cart .user_box:hover .dropdown {
    opacity: 1;
    display: block;
}

#filter .filter_cart .user_box .dropdown {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #fff;
    width: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    opacity: 0;
    display: none;
    transition: all linear 0.3s;
}

#filter .filter_cart .user_box .dropdown ul li {
    padding: 10px 0;
}
/* ---------------------- Filter End ---------------------- */

/* ---------------------- Banner Start ---------------------- */
#banner {
    background: url(../images/slider1.png) no-repeat center;
    height: 597px;
}

#banner .banner_wrapper {
    padding: 167px 0 182px 0;
    position: relative;
}

#banner .banner_wrapper .banner_main {
    margin-left: 111px;
}

#banner .banner_wrapper h1 {
    color: #262626;
    font-size: 49px;
    font-weight: 700;
}

#banner .banner_wrapper h2 {
    color: #6d6d6d;
    font-size: 16px;
    font-weight: 400;
    margin-top: 33px;
}

#banner .banner_wrapper h2 span {
    color: #262626;
    font-size: 40px;
    font-weight: 700;
}

#banner .banner_wrapper a {
    margin-top: 49px;
}

#banner .slider_dot {
    width: 2px;
    height: 120px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#banner .slider_dot .slide_1 {
    width: 2px;
    height: 30px;
    background-color: #262626;
    position: relative;
}

#banner .slider_dot .slide_1 .slider_counter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    font-size: 10px;
    color: #262626;
    font-weight: 400;
}
/* ---------------------- Banner End ---------------------- */

/* ---------------------- Service Start ---------------------- */
#service {
    background-color: #fff;
    padding: 30px 0;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
}

#service .service_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#service .service_box p {
    color: #6d6d6d;
    font-size: 16px;
    font-weight: 400;
}

#service .service_box p i {
    color: #262626;
    font-size: 20px;
    margin-right: 15px;
}
/* ---------------------- Service End ---------------------- */

/* ---------------------- Sale Start ---------------------- */
#sale {
    margin-top: 140px;
}

#sale .sale_main {
    display: flex;
    justify-content: space-between;
}

#sale .sale_main .sale_left {
    width: 49%;
    height: 780px;
    background: url(../images/sale1.png) no-repeat center;
    background-size: cover;
}

#sale .sale_main .sale_left .sale_left_inner {
    padding: 64px 72px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#sale .sale_main .sale_right {
    width: 48%;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sale .sale_main .sale_right .sale_right_top {
    width: 100%;
    height: 47%;
    background: url(../images/sale2.png) no-repeat center;
    background-size: cover;
}

#sale .sale_main .sale_right .sale_right_bottom {
    width: 100%;
    height: 47%;
    background: url(../images/sale3.png) no-repeat center;
    background-size: cover;
}

#sale .sale_main h3 {
    color: rgba(38, 38, 38, 0.7);
    margin-top: 36px;
}

#sale .sale_main .dark_btn {
    margin-top: 49px;
}

#sale .sale_main .sale_right .sale_right_top_inner,
#sale .sale_main .sale_right .sale_right_bottom_inner {
    padding: 66px 53px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/* ---------------------- Sale End ---------------------- */

/* ---------------------- New Arrivals Start ---------------------- */
#new_arrivals {
    margin-top: 128px;
}

.product_main {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product_main .product_box {
    width: 23%;
}

.product_main .product_img {
    width: 100%;
    height: 376px;
    position: relative;
}

.product_main .product_box .product_img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.product_main .product_box .product_info {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_main .product_box p {
    color: #767676;
}

.product_main .product_box .product_color {
    margin-top: 15px;
}

.product_main .product_box .product_img .new_tag {
    position: absolute;
    top: 20px;
    left: 20px;
}

.product_main .product_box .product_img .product_action {
    background-color: #fff;
    width: 100%;
    padding: 25px 30px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
    opacity: 0;
    transition: all linear 0.2s;
}

.product_main .product_box .product_img .product_action a {
    color: #767676;
    margin-bottom: 21px;
    display: block;
    transition: all linear 0.2s;
}

.product_main .product_box .product_img .product_action a i {
    color: #262626;
    margin-left: 15px;
}

.product_main .product_box .product_img .product_action a:hover {
    color: #262626;
    font-weight: 700;
}

.product_main .product_box .product_img:hover .product_action {
    opacity: 1;
}

.product_main .arrow_left,
.product_main .arrow_right {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 38%;
    z-index: 1;
}

.product_main .arrow_left {
    left: 6px;
}

.product_main .arrow_right {
    right: 6px;
}
/* ---------------------- New Arrivals End ---------------------- */

/* ---------------------- Best Sellers Start ---------------------- */
#best_sellers {
    margin-top: 118px;
}
/* ---------------------- Best Sellers End ---------------------- */

/* ---------------------- Of the year Start ---------------------- */
#of_the_year {
    margin-top: 130px;
}

#of_the_year .of_the_year_main {
    display: flex;
}

#of_the_year .of_the_year_main .of_the_year_img {
    height: 370px;
    width: 40%;
}

#of_the_year .of_the_year_main .of_the_year_img img {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

#of_the_year .of_the_year_main .of_the_year_info {
    height: 370px;
    width: 60%;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#of_the_year .of_the_year_main .of_the_year_info p {
    line-height: 30px;
    margin-top: 38px;
    width: 511px;
}

#of_the_year .of_the_year_main .of_the_year_info a {
    margin-top: 66px;
}
/* ---------------------- Of the year End ---------------------- */

/* ---------------------- Special Offers Start ---------------------- */
#special_offers {
    margin-top: 128px;
}
/* ---------------------- Special Offers End ---------------------- */

/* ---------------------- Footer Start ---------------------- */
footer {
    margin-top: 140px;
    background-color: #f5f5f3;
    padding: 55px 0 59px 0;
}

footer .footer_wrapper {
    display: flex;
}

footer .footer_wrapper .footer_main {
    width: 78%;
    display: flex;
}

footer .footer_wrapper .footer_logo {
    width: 22%;
}

footer .footer_wrapper .footer_main .footer_links {
    width: 20%;
}

footer .footer_wrapper .footer_main .footer_info {
    width: 40%;
}

footer .footer_wrapper .footer_main .footer_links h6 {
    text-transform: uppercase;
    margin-bottom: 17px;
}

footer .footer_wrapper .footer_main .footer_links ul li a {
    color: #6d6d6d;
    line-height: 23px;
    margin-bottom: 6px;
    transition: all linear 0.2s;
}

footer .footer_wrapper .footer_main .footer_links ul li a:hover {
    color: #262626;
}

footer .footer_wrapper .footer_main .footer_info .contact {
    margin-top: 6px;
}

footer .footer_wrapper .footer_main .footer_info .location {
    margin-top: 15px;
    color: #6d6d6d;
}

footer .footer_wrapper .footer_logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer_wrapper .footer_logo .logo_box {
    width: 122px;
}

footer .footer_wrapper .footer_logo .logo_box img {
    width: 100%;
    display: block;
}

footer .footer_wrapper .footer_copy p {
    color: #6d6d6d;
}

footer .footer_wrapper .footer_main .footer_social {
    margin-top: 65px;
}

footer .footer_wrapper .footer_main .footer_social a {
    margin-right: 26px;
}

footer .footer_wrapper .footer_main .footer_social a i {
    color: #262626;
}
/* ---------------------- Footer End ---------------------- */

/* =================== Products page Start =================== */
#products {
    margin-top: 124px;
}

.breadcums {
    margin-top: 11px;
}

.breadcums a,
.breadcums span {
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #767676;
    transition: all linear 0.2s;
}

.breadcums i {
    font-size: 12px;
    color: #767676;
}

.breadcums a:hover {
    color: #262626;
}

#products .products_main {
    margin-top: 130px;
    display: flex;
}

#products .products_main .product_filter {
    width: 25%;
}

#products .products_main .product_display {
    width: 75%;
}

#products .products_main .product_filter .filter_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#products .products_main .product_filter .filter_title i {
    cursor: pointer;
}

#products .products_main .product_filter ul {
    margin-top: 15px;
    margin-bottom: 53px;
}

#products .products_main .product_filter ul li {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 19px 0;
    color: #767676;
    line-height: 30px;
    border-bottom: 1px solid #f0f0f0;
}

#products .products_main .product_filter ul li a {
    color: #767676;
    transition: all linear 0.2s;
}

#products .products_main .product_filter ul li a:hover {
    color: #262626;
}

#products .products_main .product_filter .filter_color ul li {
    justify-content: flex-start;
    align-items: center;
}

#products .products_main .product_filter .filter_color span {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 10px;
}

#products .products_main .product_filter .filter_color .color_1 {
    background-color: #000;
}

#products .products_main .product_filter .filter_color .color_2 {
    background-color: #FF8686;
}

#products .products_main .product_filter .filter_color .color_3 {
    background-color: #7ED321;
}

#products .products_main .product_filter .filter_color .color_4 {
    background-color: #B6B6B6;
}

#products .products_main .product_filter .filter_color .color_5 {
    background-color: #15CBA5;
}

#products .products_main .product_display {
    padding-left: 40px;
    box-sizing: border-box;
}

#products .products_main .product_display .product_display_filter .display_filter_left a {
    padding: 12px 11px 10px 11px;
    margin-right: 20px;
}

#products .products_main .product_display .product_display_filter .display_filter_left a i {
    font-size: 16px;
}

#products .products_main .product_display .product_display_filter .display_filter_left .block {
    background-color: #262626;
    border: 1px solid #262626;
}

#products .products_main .product_display .product_display_filter .display_filter_left .block i {
    color: #fff;
}

#products .products_main .product_display .product_display_filter .display_filter_left .list {
    background-color: #fff;
    border: 1px solid #F0F0F0;
}

#products .products_main .product_display .product_display_filter .display_filter_left .list i {
    color: #737373;
}
/* =================== Products page End =================== */
