* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.font_dm {
    font-family: "DM Sans", sans-serif;
}

.font_14 {
    font-size: 14px;
}

.dark_btn {
    padding: 16px 58px;
    background-color: #262626;
    font-family: "DM Sans", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

/* ---------------------- Nav Start ---------------------- */
nav {
    padding: 31px 0;
    background-color: #fff;
}

nav .nav_wrapper {
    position: relative;
}

nav .nav_logo {
    position: absolute;
    top: 0;
    left: 0;
}

nav .nav_logo {
    width: 65px;
}

nav .nav_logo img {
    width: 100%;
    display: block;
}

nav .nav_item ul {
    display: flex;
    gap: 40px;
    justify-content: center;
}

nav .nav_item ul li a {
    color: #767676;
    font-weight: 400;
    transition: all linear 0.2s;
}

nav .nav_item ul li a:hover {
    color: #262626;
    font-weight: 700;
}
/* ---------------------- Nav End ---------------------- */

/* ---------------------- Filter Start ---------------------- */
#filter {
    background-color: #f5f5f3;
    padding: 25px 0;
}

#filter .filter_wrapper {
    display: flex;
}

#filter .filter_sort {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 11px;
}

#filter .filter_sort a,
#filter .filter_sort i {
    color: #262626;
}

#filter .filter_search {
    width: 60%;
    display: flex;
    justify-content: center;
}

#filter .filter_search .filter_box {
    width: 601px;
    position: relative;
}

#filter .filter_search .filter_box input {
    width: 100%;
    background-color: #fff;
    height: 50px;
    padding: 0 40px 0 21px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

#filter .filter_search .filter_box input::placeholder {
    font-family: "DM Sans", sans-serif;
    color: #c4c4c4;
    font-size: 14px;
    font-weight: 400;
}

#filter .filter_search .filter_box a {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
}

#filter .filter_search .filter_box a i {
    color: #262626;
    font-size: 16px;
}

#filter .filter_cart {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 41px;
    justify-content: end;
}

#filter .filter_cart .cart_box {
    display: flex;
    align-items: center;
    gap: 11px;
}

#filter .filter_cart i {
    color: #262626;
    font-size: 16px;
}

#filter .filter_cart .user_box {
    position: relative;
    cursor: pointer;
}

#filter .filter_cart .user_box i {
    margin-right: 8px;
}

#filter .filter_cart .user_box:hover .dropdown {
    opacity: 1;
    display: block;
}

#filter .filter_cart .user_box .dropdown {
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #fff;
    width: 100px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    opacity: 0;
    display: none;
    transition: all linear 0.3s;
}

#filter .filter_cart .user_box .dropdown ul li {
    padding: 10px 0;
}
/* ---------------------- Filter End ---------------------- */

/* ---------------------- Banner Start ---------------------- */
#banner {
    background: url(../images/slider1.png) no-repeat center;
    height: 597px;
}

#banner .banner_wrapper {
    padding: 167px 0 182px 0;
    position: relative;
}

#banner .banner_wrapper .banner_main {
    margin-left: 111px;
}

#banner .banner_wrapper h1 {
    color: #262626;
    font-size: 49px;
    font-weight: 700;
}

#banner .banner_wrapper h2 {
    color: #6d6d6d;
    font-size: 16px;
    font-weight: 400;
    margin-top: 33px;
}

#banner .banner_wrapper h2 span {
    color: #262626;
    font-size: 40px;
    font-weight: 700;
}

#banner .banner_wrapper a {
    margin-top: 49px;
}

#banner .slider_dot {
    width: 2px;
    height: 120px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#banner .slider_dot .slide_1 {
    width: 2px;
    height: 30px;
    background-color: #262626;
    position: relative;
}

#banner .slider_dot .slide_1 .slider_counter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
    font-size: 10px;
    color: #262626;
    font-weight: 400;
}
/* ---------------------- Banner End ---------------------- */

/* ---------------------- Service Start ---------------------- */
#service {
    background-color: #fff;
    padding: 30px 0;
    box-sizing: border-box;
}

#service .service_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#service .service_box p {
    color: #6d6d6d;
    font-size: 16px;
    font-weight: 400;
}

#service .service_box p i {
    color: #262626;
    font-size: 20px;
    margin-right: 15px;
}
/* ---------------------- Service End ---------------------- */
