@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.orangeText {
    color: #EA6C00;
}

.textCenter {
    text-align: center;
}

/* Registration Page start */
.registrationPic {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    object-fit: cover;
}

.regiText {
    width: 497px;
    margin-left: auto;
    margin-right: 69px;
    min-height: 100vh;
}

.regiText h1 {
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 13px;
    font-size: 34px;
    font-weight: 700;
    color: #11175D;
    margin-top: 225px;
}

.regiText p {
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 61px;
    font-size: 20px;
    color: #0000009d;
    font-weight: 400;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 368px;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    margin-bottom: 50px;
}

.signUpBtn {
    padding: 20px 145px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    color: #fff;
    border-radius: 86px;
    background-color: #5F35F5;
    border: none;
    cursor: pointer;
    transition: all linear .2s;
}

.signUpBtn:hover {
    background-color: #4010ee;
}

.regiText .regiSignIn {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 368px;
    text-align: center;
    margin-top: 35px;
}

/* Registration Page end*/