@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.orangeText {
    color: #EA6C00;
}

.textCenter {
    text-align: center;
}

/* Registration Page start */
.registrationPic {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    object-fit: cover;
}

.regiText {
    width: 497px;
    margin-left: auto;
    margin-right: 69px;
    min-height: 100vh;
}

.regiText h1 {
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 13px;
    font-size: 34px;
    font-weight: 700;
    color: #11175D;
    margin-top: 225px;
}

.regiText p {
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 61px;
    font-size: 20px;
    color: #0000009d;
    font-weight: 400;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 368px;
}

.inputBox {
    margin-bottom: 55px;
    position: relative;
}

.signUpBtn {
    display: block;
    padding: 12px 145px !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 20px !important;
    color: #fff !important;
    border-radius: 86px !important;
    background-color: #5F35F5 !important;
    border: none !important;
    position: relative;
}

.signUpBtn.loading {
    display: block;
    padding: 12px 145px !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 20px !important;
    color: #fff !important;
    border-radius: 86px !important;
    background-color: #8d8d8d !important;
    border: none !important;
    position: relative;
}

.signUpBtn:hover {
    background-color: #4010ee !important;
}

.signUpBtn:disabled {
    background-color: #959595 !important;
    /* Change background color of disabled button */
    color: #000 !important;
    /* Change text color of disabled button */
}

.regiText .regiSignIn {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 368px;
    text-align: center;
    margin-top: 35px;
}

.regError {
    width: 368px !important;
    box-sizing: border-box;
    position: absolute;
    background-color: transparent !important;
    color: red !important;
}

.inputPassword {
    position: relative;
    width: 368px;
}

.eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
    cursor: pointer;
    z-index: 100;
}

.oval {
    position: absolute;
    left: 90px;
}

.oval circle {
    stroke: #fff;
}

/* Registration Page end*/