* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-white {
    color: white;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.w-66 {
    width: 66%;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}

.font_500 {
    font-weight: 500;
}

.font_600 {
    font-weight: 600;
}

.mt_50 {
    margin-top: 50px;
}

.mb_104 {
    margin-bottom: 104px;
}

.py_150 {
    padding: 150px 0;
}

.bg_gray {
    background-color: #FAFAFA;
}