* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.font_pop {
    font-family: Poppins, sans-serif;
}

.font-20 {
    font-size: 20px;
}

.font-30 {
    font-size: 30px;
}

.font-semi {
    font-weight: 600;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-white {
    color: white;
}