* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.font_rale {
    font-family: "Raleway", sans-serif;
}

.font_mon {
    font-family: "Montserrat", sans-serif;
}

.font_pop {
    font-family: "Poppins", sans-serif;
}

.font_vol {
    font-family: "Volkhov", serif;
}

.font_open {
    font-family: "Open Sans", sans-serif;
}

.font_500 {
    font-weight: 500;
}

.font_600 {
    font-weight: 600;
}

.font_700 {
    font-weight: 700;
}

.font_16 {
    font-size: 16px;
}

.font_18 {
    font-size: 18px;
}

.font_20 {
    font-size: 20px;
}

.font_50 {
    font-size: 50px;
}

.text_center {
    text-align: center;
}
/* ------------------------- Nav Start ------------------------- */
nav {
    padding-top: 55px;
    position: relative;
}

nav .nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav_brand img {
    height: 60px;
}

nav .nav_item {
    display: flex;
}

nav .nav_item ul {
    display: flex;
    align-items: center;
    gap: 55px;
}

nav .nav_item ul li a {
    color: #fff;
    font-size: 20px;
    color: #fff;
}

nav .nav_item ul li:last-child a {
    color: #212832;
}

nav .nav_item .nav_btn {
    font-size: 20px;
    padding: 18px 17px;
    box-sizing: border-box;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 12px;
    margin-left: 55px;
}

nav .dropdown_main {
    position: absolute;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    margin-top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.2s;
}

nav .dropdown_main ol li {
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
}

nav .dropdown:hover .dropdown_main {
    visibility: visible;
    opacity: 1;
}
/* ------------------------- Nav End ------------------------- */

/* ------------------------- Hero Start ------------------------- */
#hero {
    background: url(../images/banner.png) no-repeat;
    background-size: cover;
    background-position: top center;
    box-shadow: 0px 0px 50px #e7ac72;
}
/* ------------------------- Banner Start ------------------------- */
#banner {
    margin-top: 111px;
    padding-bottom: 29px;
}

#banner .banner_item {
    display: flex;
    gap: 22px;
}

#banner .banner_item p {
    color: #fff;
    position: relative;
}

#banner .banner_item p::after {
    width: 2px;
    height: 10px;
    background-color: #fff;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -11px;
    z-index: 1;
}

#banner .banner_item p:last-child::after {
    display: none;
}

#banner .banner_wrapper h1 {
    width: 506px;
    font-size: 47px;
    line-height: 57px;
    color: #fff;
    margin-top: 20px;
}

#banner .banner_wrapper .banner_heading {
    width: 506px;
    position: relative;
}

#banner .banner_wrapper .plane_img {
    position: absolute;
    top: 0;
    right: -42px;
    animation: fly 2s linear infinite;
}

@keyframes fly {
    from {
        top: 0;
        right: -42px;
    }
    to {
        top: -371px;
        right: -804px;
    }
}

#banner .banner_wrapper .banner_popular {
    margin-top: 50px;
}

#banner .banner_wrapper .banner_popular .banner_popular_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 611px;
}

#banner .banner_wrapper .banner_popular .banner_popular_top h6 {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

#banner .banner_wrapper .banner_popular .banner_popular_top .icon {
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#banner .banner_wrapper .banner_popular .banner_popular_item_box {
    margin-top: 10px;
    width: 608px;
    display: flex;
    justify-content: space-between;
}

#banner .banner_wrapper .banner_popular .banner_popular_item_box .popular_item {
    width: 25%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    padding: 10px;
}

#banner
    .banner_wrapper
    .banner_popular
    .banner_popular_item_box
    .popular_item:hover
    .popular_img
    img {
    border: 1px solid #e7ac72;
    border-radius: 10px 10px 4px 4px;
}

#banner .banner_wrapper .banner_popular .popular_item .popular_img {
    height: 154px;
    width: 100%;
    box-sizing: border-box;
}

#banner .banner_wrapper .banner_popular .popular_item .popular_img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 4px 4px;
    border: 1px solid transparent;
}

#banner .banner_wrapper .banner_popular .popular_item h3 {
    font-size: 16px;
    color: #212832;
    font-weight: 500;
    margin-top: 10px;
    transition: all linear 0.2s;
}

#banner .banner_wrapper .banner_popular .popular_item i {
    margin-right: 5px;
}

#banner .banner_wrapper .banner_popular .popular_item p {
    font-size: 12px;
    color: #212832;
    font-weight: 300;
    transition: all linear 0.2s;
}

#banner
    .banner_wrapper
    .banner_popular
    .banner_popular_item_box
    .popular_item:hover
    h3 {
    transform: translateX(8%);
}

#banner
    .banner_wrapper
    .banner_popular
    .banner_popular_item_box
    .popular_item:hover
    p {
    transform: translateX(10%);
}

#banner .banner_wrapper .banner_form {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 36px 37px;
    border-radius: 12px;
    margin-top: 36px;
}

#banner .banner_wrapper .banner_form form {
    display: flex;
    align-items: center;
}

#banner .banner_wrapper .banner_form form .form_box {
    width: 85%;
    background-color: #fff;
    padding: 15px 11px;
    border-radius: 12px;
    display: flex;
}

#banner .banner_wrapper .banner_form form .accomodation_box .form_group {
    width: 80%;
}

#banner .banner_wrapper .banner_form form .accomodation_box {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#banner .banner_wrapper .banner_form form i {
    color: #3e4958;
    font-size: 20px;
}

#banner .banner_wrapper .banner_form form label {
    display: block;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3e4958;
}

#banner .banner_wrapper .banner_form form select {
    border: none;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #3e4958;
    padding-right: 50px;
}

#banner .banner_wrapper .banner_form form .date_box {
    width: 25%;
    display: flex;
    align-items: center;
    margin-right: 30px;
    position: relative;
}

#banner .banner_wrapper .banner_form form .date_box::after {
    width: 1px;
    height: 100%;
    background-color: rgba(47, 78, 132, 0.3);
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    z-index: 1;
}

#banner .banner_wrapper .banner_form form .date_box .form_group {
    margin-left: 20px;
}

#banner .banner_wrapper .banner_form form .date_box input {
    border: none;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #3e4958;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#banner .banner_wrapper .banner_form form .guest_box {
    width: 19%;
    display: flex;
    align-items: center;
    position: relative;
}

#banner .banner_wrapper .banner_form form .guest_box::after {
    width: 1px;
    height: 100%;
    background-color: rgba(47, 78, 132, 0.3);
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    z-index: 1;
}

#banner .banner_wrapper .banner_form form .guest_box .form_group {
    margin-left: 20px;
}

#banner .banner_wrapper .banner_form form .form_btn {
    width: 15%;
}

#banner .banner_wrapper .banner_form form button {
    font-size: 18px;
    padding: 24px 54px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #e7ac72;
    color: #fff;
    font-weight: 700;
    border: none;
    outline: none;
    margin-left: 24px;
}
/* ------------------------- Banner end ------------------------- */

/* ------------------------- Service Start ------------------------- */
#service {
    position: relative;
}

#service .service_top p {
    text-transform: uppercase;
    color: 5e6282;
    margin-top: 10px;
}

#service .service_top h3 {
    color: #14183e;
    margin-top: 10px;
}

#service .service_main {
    display: flex;
    justify-content: space-between;
}

#service .service_main .service_item {
    width: 18%;
    background-color: #fff;
    border-radius: 36px;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 40px 30px transparent;
    transition: all linear 0.3s;
    margin-top: 68px;
}

#service .service_main .service_item:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

#service .service_main .service_img {
    width: 92px;
    margin: 0 auto;
}

#service .service_main .service_img img {
    width: 100%;
    display: block;
}

#service .service_main h6 {
    margin-top: 29px;
    color: #1e1d4c;
}

#service .service_main p {
    color: #5e6282;
    width: 181px;
    margin: 0 auto;
    margin-top: 15px;
}

#service .service_main .service_item .item_shape {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 30px 0px 10px 0px;
    position: absolute;
    left: -35px;
    bottom: -33px;
    z-index: -1;
    transition: all linear 0.3s;
}

#service .service_main .service_item:hover .item_shape {
    background-color: #e7ac72;
}

#service .service_float {
    width: 153px;
    position: absolute;
    top: 0;
    right: 30px;
}

#service .service_float img {
    width: 100%;
    display: block;
}
/* ------------------------- Service End ------------------------- */

/* ------------------------- Destination Start ------------------------- */
#destination {
    margin-top: 106px;
}

#destination .destination_top p {
    color: #5e6282;
}

#destination .destination_top h4 {
    color: #14183e;
    margin-top: 8px;
}

#destination .destination_main {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

#destination .destination_main .destination_item {
    width: 28%;
    height: 457px;
    position: relative;
}

#destination .destination_main .destination_item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top center;
    border-radius: 24px;
}

#destination .destination_main .destination_item .destination_item_details {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    border-radius: 0 0 24px 24px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    padding: 27px 42px 42px 20px;
    box-sizing: border-box;
}

#destination .destination_main .destination_item_details .details_top {
    display: flex;
    justify-content: space-between;
}

#destination .destination_main .destination_item_details .details_top p {
    color: #5e6282;
}

#destination .destination_main .destination_item_details .details_bottom {
    display: flex;
    margin-top: 19px;
    align-items: center;
}

#destination .destination_main .destination_item_details .details_bottom i {
    font-size: 20px;
}

#destination .destination_main .destination_item_details .details_bottom p {
    color: #5e6282;
    margin-left: 14px;
}

#destination .destination_main .destination_item .destination_hover_img {
    position: absolute;
    right: -62px;
    bottom: 68px;
    z-index: -1;
    opacity: 0;
    transition: all linear 0.2s;
}

#destination .destination_main .destination_item .destination_hover_img img {
    width: 96px;
    height: auto;
}

#destination .destination_main .destination_item:hover .destination_hover_img {
    opacity: 1;
}
/* ------------------------- Destination End ------------------------- */
#trip .trip_main {
    margin-top: 73px;
}

#trip .trip_top p {
    color: #5e6282;
}

#trip .trip_top h5 {
    width: 511px;
    color: #14183e;
    margin-top: 15px;
}

#trip .trip_main {
    display: flex;
}

#trip .trip_main .trip_left {
    width: 50%;
}

#trip .trip_main .trip_right {
    width: 50%;
    position: relative;
}

#trip .trip_main .trip_details {
    margin-top: 31px;
}

#trip .trip_main .trip_details .trip_item {
    display: flex;
    margin-bottom: 48px;
}

#trip .trip_main .trip_details .trip_item .trip_icon {
    width: 47px;
    margin-top: 8px;
}

#trip .trip_main .trip_details .trip_item .trip_icon img {
    width: 100%;
    display: block;
}

#trip .trip_main .trip_details .trip_item .trip_item_info {
    width: 327px;
    margin-left: 21px;
}

#trip .trip_main .trip_details .trip_item .trip_item_info h6 {
    color: #5e6282;
}

#trip .trip_main .trip_details .trip_item .trip_item_info p {
    color: #5e6282;
}

#trip .trip_main .trip_right .trip_right_img {
    width: 485px;
    margin-left: 50px;
    margin-top: 51px;
}

#trip .trip_main .trip_right .trip_right_img img {
    width: 100%;
    display: block;
}

#trip .trip_main .trip_right .shape {
    position: absolute;
    top: -91px;
    right: 95px;
    z-index: -1;
    width: 354px;
    transition: all linear 0.3s;
}

#trip .trip_main .trip_right .shape img {
    width: 100%;
    display: block;
}

#trip .trip_main .trip_right:hover .shape {
    scale: 1.35;
}
/* ------------------------- Trip End ------------------------- */

/* ------------------------- Testimonial Start ------------------------- */
#testimonial .testimonial_main {
    margin-top: 75px;
    display: flex;
}

#testimonial .testimonial_main .testimonial_left {
    width: 40%;
}

#testimonial .testimonial_main .testimonial_right {
    width: 60%;
    position: relative;
}

#testimonial .testimonial_main .testimonial_left .testi_title p {
    text-transform: uppercase;
    color: #5e6282;
}

#testimonial .testimonial_main .testimonial_left .testi_title h5 {
    color: #14183e;
    width: 409px;
    margin-top: 8px;
    text-transform: capitalize;
}

#testimonial .testimonial_main .testimonial_left .testi_dots {
    display: flex;
    gap: 25px;
    margin-top: 82px;
}

#testimonial .testimonial_main .testimonial_left .testi_dots .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e5e5e5;
    cursor: pointer;
}

#testimonial .testimonial_main .testimonial_left .testi_dots .dot:first-child {
    background-color: #39425d;
}

#testimonial .testimonial_main .testimonial_right .testi_slider {
    width: 589px;
    margin-left: 100px;
}

#testimonial .testimonial_main .testimonial_right .testi_slider img {
    width: 100%;
    display: block;
}

#testimonial .testimonial_main .testimonial_right .testi_arrow {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: absolute;
    top: 30%;
    right: 0;
    transform: translateY(-50%);
}

#testimonial .testimonial_main .testimonial_right .testi_arrow i {
    font-size: 20px;
    cursor: pointer;
}

#testimonial .testimonial_main .testimonial_right .testi_arrow .up {
    color: #bcb7c2;
}

#testimonial .testimonial_main .testimonial_right .testi_arrow .down {
    color: #3e2e4d;
}
/* ------------------------- Testimonial End ------------------------- */

/* ------------------------- Companies Start ------------------------- */
#companies {
    margin-top: 72px;
}

#companies h6 {
    font-size: 40px;
    color: #14183e;
}

#companies .companies_logo_wrapper {
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
}

#companies .companies_logo_wrapper .companies_logo {
    height: 51px;
}

#companies .companies_logo_wrapper .companies_logo img {
    height: 100%;
    display: block;
    width: auto;
}
/* ------------------------- Companies End ------------------------- */

/* ------------------------- Subscribe Start ------------------------- */
#subscribe {
    margin-top: 140px;
}

#subscribe .subscribe_main {
<<<<<<< HEAD
    background-color: #dfd7f9;
    padding: 79px 155px 78px 155px;
    border-radius: 129px 20px 20px 20px;
}

#subscribe .subscribe_main h6 {
    color: #5e6282;
    text-align: center;
    font-size: 33px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 74px;
    width: 859px;
}

#subscribe .subscribe_main form .form_group {
    width: 625px;
    margin: 0 auto;
    position: relative;
}

#subscribe .subscribe_main form .form_group input {
    width: 421px;
    height: 68px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.32);
    padding: 10px 20px 10px 70px;
    box-sizing: border-box;
}

#subscribe .subscribe_main form .form_group i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    font-size: 25px;
    color: #39425D;
}
/* ------------------------- Subscribe End ------------------------- */
=======
    background: url(../images/subscribe.png) no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 79px 155px 78px 156px;
    text-align: center;
}

#subscribe .subscribe_main h3 {
    font-size: 33px;
    color: #5E6282;
}

#subscribe .subscribe_main form {
    margin-top: 74px;
}
/* ------------------------- Subscribe End ------------------------- */
>>>>>>> b1dfba2e68f79e7770ef4f6fe76e13849dd70437
